.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.scratched {
  text-decoration: line-through black;
  background-color: rgb(221, 115, 115);
}
.table-list {
  align-items: flex-start;
  display: flex ;
  margin-top: 20px;
  flex-direction: column ;
  height: 105vh;
  overflow: auto;
}

.add {
width: 68%;
position: fixed;
  right: 0;
  top: 0;
}

.noAdd {
width: 95%;
margin-left: 3%;
}

.btns-table{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.btn-clear{
  border-radius: 10px;
  border-style: none;
  padding: 5px;
  background-color: red;
  font-weight: 700;
  padding: 10px;
}

.addProduct-btn {
  border-radius: 10px;
  border-style: none;
  background-color: blanchedalmond;
  font-weight: 700;
  padding: 10px;
}

.table-responsive {
  width: 100% ;
}
tr {
  align-items: center;
}

th p {
  text-align: center;
  margin: 0;
}

td {
  text-align: center;
  max-width: 200px;
  word-break: break-word;
  vertical-align: middle;
}

td p {
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}