.scratched {
  text-decoration: line-through black;
  background-color: rgb(221, 115, 115);
}

.table-list {
    width: 99%;
    margin-left: 0.5%;
    text-align: center;
  }s
  
tr {
  align-items: center;
}

th p {
  text-align: center;
  margin: 0;
}

td {
  text-align: center;
  max-width: 200px;
  word-break: break-word;
  vertical-align: middle;
}

td p {
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}